@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    align-items: center;
    margin-top: 2mm;
    object-position: bottom;
    background: white;
    justify-content: center;
}

header .one{
    display: flex;
    width: 6.500rem;
    height: 2.500rem;
    background: transparent;
    overflow: hidden;
    position: relative;
    background-image: url("./assets/amazon_imgs.png");
    background-size: 23rem;
    background-position-y:-30mm ;
}

header .two {
    display: flex;
    width: 2.600rem;
    background-repeat: no-repeat;
    height: 0.800rem;
    background: transparent;
    overflow: hidden;
    position: relative;
    background-image: url("./assets/amazon_imgs.png");
    background-size: 22rem;
    background-position-x: -42mm;
    background-position-y: -48mm;
}


.login {
    display: flex;
    flex-direction: column;
    width: 100mm;
    height: 90mm;
    margin-top: 2mm;
    background: transparent;
    align-items: center;
    border-radius: 3px;
    border: 0.1mm solid rgba(0, 0, 0, 0.445);
}

.items {
    display: flex;
    flex-direction: column;
    margin-left: 5mm;
    width: 80%;
}

.items .title {
    margin-top: 10mm;
    margin-bottom: 3mm;
    object-position: inherit;
    font-size: 20px;
}

.login .items input,
button {
    width: 70mm;
    border: solid 1px black;
    outline: none;
    height: 7mm;
}
.login .items input:focus {
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
}
.login .items label {
    font-size: 14px;
}

.login input {
    padding-left: 3mm;
    margin-bottom: 3mm;
}

.login .items button {
    background: #eec459;
    border-color: #a88734 #9c7e31 #846a29;
    transition: 3000ms;
}
.login .items button:hover, button:active {
    border-color: #a88734 #9c7e31 #846a29;
    background: #f7b425;
}

.login .items p {
    width: 80mm;
    line-height: 20px;
    font-size: .800rem;
    margin-top: 5mm;
    overflow: hidden;
}

.newp {
    margin-top: 5mm;
    width: 10rem;
}
.newp h5 {
    margin-left: 6mm;
    opacity: .7;
    font-size: .800rem;
    font-weight: 400;
}

.newp::after {
    content: "";
    width: 40mm;
    background-color: transparent;
    display: flex;
    height: 1px;
    border-top: 1px solid #e7e7e7;
    position: fixed;
    top: 67.900%;
    margin-top: -2px;
    z-index: -1;
    overflow: hidden;
}

a {
    text-decoration: none;
    display: flex;
    margin-top: 3mm;
    text-align: center;
    align-items: center;
    border-radius: 1px;
    justify-content: center;
    color: black;
    font-size: .800rem;
    width: 20rem;
    height: 2rem;
    background: #eff0f3;
    border: 1px solid;
    border-color: #adb1b8 #a2a6ac #8d9096;
}

a:hover {
    border-color: #a2a6ac #979aa1 #82858a;
    background: #d5d6d8;
}